**/.ipynb_checkpoints
**/__pycache__
*.png
*.jpg
*.gif
*.mp4
*.out
*.npy
*.npz
*.dae
*.pt
*.so
data/*
logs/*
jobs/*
build/
*.out
slurm_nerf_pytorch.sh
*.swp
*.swo
*~
project.files/
project.psx
slurm_outs/
.vscode/
fairnr.egg-info/
