--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.11.0+cu113 
torchvision==0.12.0+cu113 
torchaudio==0.11.0

configargparse
chumpy
imutils
imageio==2.19
lpips
matplotlib
natsort
numpy==1.22
opencv-python
Pillow
plyfile
pycocotools
pyrender
pytorch-fid
PyYAML
scikit-image==0.19
smplx
tensorboard
termcolor
tqdm
trimesh


https://github.com/podgorskiy/dnnlib/releases/download/0.0.1/dnnlib-0.0.1-py3-none-any.whl
git+https://github.com/MultiPath/fairseq-stable.git